.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0A0A0A;
  color: #F5F5F5;
}
body, html {
  margin: 0;
  padding: 0;
}
:root {
    --body-bg-color: #1a1c1d;
    --text-color: #aaaebc;
    --hr-color: #26292a;
    --transition-duration: 0.3s;
    --transition-delay: 0.2s;
    --red: #e74c3c;
  }
  
  ul {
    list-style: none;
    padding: 0; /* Elimina el padding para evitar desplazamientos */
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C2C2C;
    padding: 0.5rem; /* Reduce el padding para hacer el header más compacto */
    color: #D4AF37;
    border-bottom: 2px solid #F5F5F5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.header h2 {
    margin: 0;
    padding-bottom: 0.5rem; /* Espacio entre el título y los enlaces */
}

.menu {
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    margin-right: 70px; 
    list-style:none;
  }
  
  .menu a {
    position: relative;
    display: block;
    padding: 10px;
  }
  
  .menu .border {
    position: absolute;
    left: 0;
    background: currentColor;
    transition: transform var(--transition-duration) ease-in-out;
  }
  
  .menu .border-top,
  .menu .border-bottom {
    width: 100%;
    height: 1px;
    transform: scaleX(0);
  }
  
  .menu .border-left,
  .menu .border-right {
    width: 1px;
    height: 100%;
    transform: scaleY(0);
  }
  
  .menu .border-top,
  .menu .border-left,
  .menu .border-right {
    top: 0;
  }
  
  .menu .border-bottom {
    bottom: 0;
    transform-origin: bottom right;
  }
  
  .menu .border-top {
    transform-origin: top left;
  }
  
  .menu .border-left {
    transform-origin: bottom left;
  }
  
  .menu .border-right {
    left: auto;
    right: 0;
    transform-origin: top right;
  }
  
  .menu a:hover .border-top,
  .menu a:hover .border-bottom {
    transform: scaleX(1);
  }
  
  .menu a:hover .border-left,
  .menu a:hover .border-right {
    transform: scaleY(1);
  }
  
  .menu a:hover .border-right {
    transition-delay: var(--transition-delay);
  }
  
  .menu a:hover .border-bottom {
    transition-delay: calc(var(--transition-delay) * 2);
  }
  
  .menu a:hover .border-left {
    transition-delay: calc(var(--transition-delay) * 3);
  }
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .menu[data-animation="diagonal"] .border-right,
  .menu[data-animation="diagonal"] .border-bottom {
    transform-origin: bottom right;
  }
  
 
  .menu[data-animation="diagonal"] .border-right,
  .menu[data-animation="diagonal"] .border-bottom {
    transform-origin: bottom right;
  }
  
  .menu[data-animation="diagonal"] a:hover [class^=border]{
    transition-delay: 0s;
  }


/**
Seccion contactos
*/

.secc-contacts {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #2C2C2C;
  padding: 1rem;
  color: #F5F5F5;
  border-right: 2px solid #F5F5F5;
  height: 100vh; 
  overflow-y: auto;
  padding-top: 250px;
  margin: 0;
  position: fixed;
  width: 350px; 

}

.formulario{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  background-color: #2C2C2C;
  color: #F5F5F5;
  border: 1px solid #F5F5F5;
  border-radius: 8px;
  padding: 2rem;
  margin: 2rem auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 600px; 
  height: 450px; 
  

}
.secc-contacts h2 {

  align-items: center;
  color: #ffffff;


}

.formulario label {
  color: #F5F5F5;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.formulario input,
.formulario textarea {
  width: 90%;
  padding: 0.8rem;
  margin-bottom: 1rem; 
  border: 1px solid #aaaebc;
  border-radius: 4px;
  background-color: #1a1c1d;
  color: #F5F5F5;
  font-size: 1rem;
}

.formulario button {
  align-self: center;
  padding: 0.75rem 1.5rem;
  background-color: #800020;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
}

.formulario button:hover {
  background-color: #99122D;
}



/*
Seccion noticias
*/

.secc-news {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: #2C2C2C;
  padding: 1rem;
  color: #F5F5F5;
  border-left: 2px solid #F5F5F5;
  height: 100vh; 
  overflow-y: auto; 
  padding-top: 250px;
  margin: 0;
  position: relative;
  right: 0;
  width: 360px;
}

.ntc img {
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin: 1rem 0; 
}

.secc-news h2{
  background-image: url(../img/news/descarga.jfif);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
div>h2{
  text-align: center;
  font-weight: bold;
  text-decoration: overline;
 
}
.ntc> h3{
  text-align: center;
  font-weight: bold;
}
a{
  color: #D4AF37;
  text-decoration: none;
  font-weight: bold;
}
/**
Footer
*/

.footer {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  background-color: #2C2C2C;
  padding: 1rem;
  border-top: 2px solid #F5F5F5;
  text-align: center;
  color: #D4AF37;
  z-index: 1000;
}




button, .highlight {
    background-color: #800020; 
    color: #F5F5F5; 
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
/**
efectos: https://webdesign.tutsplus.com/es/how-to-create-different-css-hover-effects-from-scratch--cms-34222t
titulos :https://fontmeme.com/fuentes/fuente-dreams-american-diner/#google_vignette
**/

.secc {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #0A0A0A;
  padding: 1rem;
  margin-top: 40px; 
  height: 100vh; 
  overflow-y: scroll;
  padding-top: 210px;
  -ms-overflow-style: none;

}
/**
Seccion servicios
*/
.secc::-webkit-scrollbar {
  display: none; 
}
.secc-news::-webkit-scrollbar {
  display: none; 
}
.servicios {
  background-color: #2C2C2C;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  color: #F5F5F5; 
  text-align: center;
  margin-bottom: 50px;
}

.servicios h2{
  text-decoration:none;
}

.servicio {
  background-color: #1a1c1d; 
  border: 1px solid #F5F5F5; 
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.servicio:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.servicio h3 {
  color: #D4AF37; 
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.servicio p {
  color: #aaaebc; 
  line-height: 1.6;
}

/**
testimonios
*/

.testimonios {
  background-color: #2C2C2C;
  padding: 2rem;
  border-radius: 10px;
  color: #F5F5F5;
  text-align: center;
}

.testimonios h2{
  text-decoration: none;
}

.testimonio {
  background-color: #1a1c1d;
  border: 1px solid #F5F5F5;
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.imagen-perfil {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

blockquote {
  margin: 0;
  font-style: italic;
}

.autor {
  font-size: 0.9rem;
  text-align: end;
  color: #D4AF37;
  margin-top: 0.5rem;
}


/* Animación de borde para títulos */
.titulo-animado {
  display: inline-block;
  position: relative;
  color: #F5F5F5;
  padding: 10px;
}

.titulo-animado .border {
  position: absolute;
  background: currentColor;
  transition: transform var(--transition-duration) ease-in-out;
}

.titulo-animado .border-top,
.titulo-animado .border-bottom {
  width: 100%;
  height: 1px;
  left: 0;
  transform: scaleX(0);
}

.titulo-animado .border-left,
.titulo-animado .border-right {
  width: 1px;
  height: 100%;
  top: 0;
  transform: scaleY(0);
}

.titulo-animado .border-top {
  top: 0;
  transform-origin: top left;
}

.titulo-animado .border-bottom {
  bottom: 0;
  transform-origin: bottom right;
}

.titulo-animado .border-left {
  left: 0;
  transform-origin: bottom left;
}

.titulo-animado .border-right {
  right: 0;
  transform-origin: top right;
}

.titulo-animado:hover .border-top,
.titulo-animado:hover .border-bottom {
  transform: scaleX(1);
}

.titulo-animado:hover .border-left,
.titulo-animado:hover .border-right {
  transform: scaleY(1);
}

.noticias{
  visibility: hidden;
}

/* Media Queries */
@media (max-width: 1500px) {
  .noticias{
    visibility: visible;
    opacity: 1;
  }

  .container {
      grid-template-columns: 1fr; 
      grid-template-rows: auto auto auto; 
  }

  /* Ocultar las secciones laterales en móviles */
  .secc-contacts,
  .secc-news {
      display: none; 
  }

  .secc { 
      grid-column: 1 / -1; 
      height: auto; 
      padding-top: 1rem; 
  }
  
  /* Ajustes para la sección central en móviles */
  .servicios,
  .testimonios {
      width: 90%; 
  }

  .header, .footer {
      width: 100%;
      padding: 0.5rem;
  }

  .secc-contacts, .secc-news {
      height: auto; 
  }
}
